<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>WELCOME ONBOARD <%=Name%></th>
        </tr>
        <tr>
            <td>
                <p>
                    Hi <%=Name%>,
                </p>
            
                <p>
                    <img src="https://www.shutterstock.com/image-vector/welcome-our-community-flat-vector-260nw-1156560910.jpg" alt="Welcome">
                </p>
                <p>
                    Thank you for signing up. <br> We really appreciate you for your readiness to be part of us. We really value your privacy, dont share your password with anyone. <br>Welcome onboard. Sign in to enjoy the greatness of our services<br>
                    <p>Thank you</p>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>